body {
  text-align: center;
}


.container{
  /* display: flex; */
  width: 600px;
  margin: auto;

}

.carousel{
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.images{
  width: 600px;
  height: auto;
  border: 3px solid black;
  box-shadow: 2px 2px grey;

}

.images img{
  width: 600px;
  height: auto;
  display: none;
  
}

.images img:first-of-type{
  display: block;
}

.lnr {
  display: inline-block;
  width: 3em;
  height: 3em;
  padding: 10px;
  margin-top: 200px;
}


img {
  height: 200px;
  width: auto;
}

form {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
/* .form-div{
  padding-top: 10px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
} */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* display: inline-block; */
}

li{
  list-style: none;
  margin: 20px 0;
  border: 2px solid black;
  padding: 10px;
  text-align: left;
}
