body {
  text-align: center;
}
html {
  background-image : url(images/background.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container{
  /* display: flex; */
  width: 600px;
  margin: auto;

}

.carousel{
  width: 600px;
  display: flex;
  justify-content: space-around;
}

.images{
  width: 600px;
  height: auto;
  border: 10px solid #7c3f04;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.images img{
  width: 600px;
  height: auto;
  display: none;

}

.images img:first-of-type{
  display: block;
}

.lnr {
  display: inline-block;
  width: 3em;
  height: 3em;
  padding: 10px;
  margin-top: 200px;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 200px;
  width: 600px;
  z-index: 1;
  overflow: auto;
}

#openModal {
  margin-bottom: 10px;
}

#close {
  margin-top: 20px;
  text-decoration: none;
}

.directions {
  background-color: white;
  opacity: 70%;
  height: 200px;
  width: auto;
  font-family: 'Alegreya Sans', sans-serif;
  padding: 10px;
  margin-top: -10px;
}

ul img{
  height: 200px;
  width: auto;
  background-color: #7c3f04;
  border: 5px solid #ce5e04;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

form {
  padding-top: 10px;
  display: flex;
  justify-content: center;


}
/* .form-div{
  padding-top: 10px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
} */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* display: inline-block; */
}

li{
  list-style: none;
  background-color: #f46f04;
  margin: 20px 0;
  border: 5px solid #ce5e04;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
}

h1 , h3 {
  color: #d4ccce
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 4em;
  -webkit-text-stroke: 1px rgba(0, 0, 0, .7);
  margin-top: -20px;
}

h3 {
  font-family: 'Teko', sans-serif;
  font-size: 3em;
  margin-top: -50px;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, .7);
}

#text-submit{
  height: 30px;
  width: 300px;
  opacity: 70%;
  border: 5px solid #7c3f04;
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); */

}

#abv-submit{
  background-color: #7c3f04;
  border: 2px 2px solid black;
}

.reset-btn{
  background-color: #ce5e04;
}

#openModal {
  background-color: #ce5e04;
  padding: 10px;
  width: 200px;
  margin-top: -30px;
}

/*
responsive css */

@media only screen and (max-width: 600px) {
  body {
    background-image: url(images/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }


  h1 {
  font-size: 3em;
  margin-top: 10px;

  }

  h3 {
  font-size: 2em;
  margin-top: 5px;
  }

  .carousel {
  width: 600px;
  }

}
